
<h1> <i class="fi-wrench"></i> Advanced Options</h1>

<div class="advanced-options">
  <ul>
    <li><a class="item" href="/deletedcontacts"><i class="fi-trash"></i> Undelete Contacts</a></li>
    <li><a class="item" href="/options/add_random_contacts"><i class="fi-die-six"></i> Add Random contacts to database</a></li>
    <!-- <li>
      <form action="/options/add_random_contacts" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" id="delete-button"><i class="fi-die-five"></i>Add</button>
      </form>
    </li> -->
  </ul>
</div>