<h1> <i class="fi-telephone-accessible"></i> Welcome to the <%= $rolodex.name %></h1>
<h3>There are currently <%= @count %> contacts in the CRM</h3>
<p>NOTE: This web front end is using the same Rolodex class as the previous CLI front end.</p>
<!-- <ul>
  <li><i class="fi-list"></i><a href="/contacts">List Contacts</a></li>
  <li><i class="fi-page-add"></i><a href="/contacts/new">Add A Contacts</a></li>
  <li><i class="fi-page-search"></i><a href="/contacts/search">Search For A Contacts</a></li> 
</ul> -->