<h1>Welcome to the <%= $rolodex.name %></h1>
<ul>
  <li><a href="/contacts">List Contacts</a></li>
  <li><a href="/contacts/new">Add A Contacts</a></li>
  <li><a href="/contacts/search">Search For A Contacts</a></li> 
</ul>