<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= $rolodex.name %></title>
    <link href='http://fonts.googleapis.com/css?family=Marvel|Allerta|Inconsolata' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/foundation.css">

    <!-- This is how you would link your custom stylesheet -->
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/fonts/foundation-icons.css">

    <script src="/js/vendor/modernizr.js"></script>
  </head>
  <body>
    <div class="icon-bar five-up">
      <a class="item">
        <i class="fi-home"></i>
        <!-- <img src="../assets/img/images/fi-home.svg" > -->
        <label>Home</label>
      </a>
      <a class="item">
        <i class="fi-list"></i>
        <!-- <img src="../assets/img/images/fi-bookmark.svg" > -->
        <label>List Contacts</label>
      </a>
      <a class="item">
        <img src="../assets/img/images/fi-info.svg" >
        <label>Info</label>
      </a>
      <a class="item">
        <img src="../assets/img/images/fi-mail.svg" >
        <label>Mail</label>
      </a>
      <a class="item">
        <img src="../assets/img/images/fi-like.svg" >
        <label>Like</label>
      </a>
    </div>
    <%=  yield %>
 </body>
</html>
