<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= $rolodex.name %></title>
    <link href='http://fonts.googleapis.com/css?family=Marvel|Allerta|Inconsolata' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/foundation.css">

    <!-- This is how you would link your custom stylesheet -->
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/fonts/foundation-icons.css">

    <script src="/js/vendor/modernizr.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="small-3 columns">
        <nav>
          <div class="logo">
            <img src="/img/logo-small.png" alt="Logo">
          </div>
          <div class=""> <!-- "icon-bar five-up"> -->
            <li><a class="item" href="/"><i class="fi-home"></i> Home</a></li>
            <li><a class="item" href="/contacts"><i class="fi-list"></i> List Contacts</a></li>
            <li><a class="item" href="/contacts/new"><i class="fi-page-add"></i> Add Contact</a></li>
            <li><a class="item" href="/search"><i class="fi-page-search"></i> Search For Contact</a></li>
          </div>
        </nav>
      </div>

      <div class="small-9 columns">
        <section>
          <% unless $notice.empty? %>
            <div class="notice" ><%= $notice %></div>
          <% end %>
          <h3>There are currently <%= contact_count %> contacts in the CRM</h3>
          <%=  yield %>
        </section>
       </div>

    </div>

    <div class="row">
      <div class="small-5 small-centered columns">
        <footer><p>NOTE: This web front end is now using datamapper as the data store.</p></footer>
      </div>
 </body>
</html>
<% clear_notice %>
