<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= $rolodex.name %></title>
    <link href='http://fonts.googleapis.com/css?family=Marvel|Allerta|Inconsolata' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/foundation.css">

    <!-- This is how you would link your custom stylesheet -->
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/fonts/foundation-icons.css">

    <script src="/js/vendor/modernizr.js"></script>
  </head>
  <body>
    <div class="icon-bar five-up">
      <a class="item" href="/"><i class="fi-home"></i>Home</a>
      <a class="item" href="/contacts"><i class="fi-list"></i>List Contacts</a>
      <a class="item" href="/contacts/new"><i class="ffi-page-add"></i>Add Contact</a>
      <a class="item" href="/search"><i class="fi-page-search"></i>Search For Contact</a>
    </div>
    <% unless $notice.empty? %>
      <div class="notice" ><%= $notice %></div>
    <% end %>
    <%=  yield %>
 </body>
</html>
<% clear_notice %>
