<h1> <i class="fi-page-add"></i> Add new Contact</h1>
<div class="contact-form">
  <div class="row">
      <div class="small-4 columns">
        <form action="/contacts" method="post">
          <label for="first_name">First name:
            <input id="first_name" type="text" name="first_name">
          </label>

          <label for="last_name">Last name:
            <input id="last_name" type="text" name="last_name">
          </label>

          <label for="email">Email:
            <input id="email" type="text" name="email">
          </label>

          <label for="notes">Notes:
            <input id="notes" type="text" name="notes">
          </label>

          <button type="submit" >Create Contact</button>
        </form>
      </div>
  </div>
</div>