
<h1> <i class="fi-page"></i> <%= @contact.first_name + " " + @contact.last_name %></h1>

<div class="display-contact">
  <p>Email: <%= @contact.email %></p>
  <p>Notes: <%= @contact.notes %></p>
</div>