body {
  /*color: red;*/
  font-family: 'Allerta', verdana;
  font-size: 1.5em;
  background-color: #F4F4F4;
}

.logo {
  /*float: left;*/
  padding: 10px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Marvel', verdana;
  margin: 10px;

}

h1 {
  font-size: 2.2em;
  padding-left: 25px;
}

li
{
  list-style-type: none;
}

form {
  padding: 2px;
}

input {
  font-size: 1.0em;
}

button {
  border-radius: 10px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin: 20px;
}

.submit_button {
  /*background-color: black;*/
  /*border: 0;*/
  /*margin: 0;*/

  color: red;
  width: 70px;
}

#small-button {
  border-radius: 0px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  font-size: 1.0em;
  margin: 0;
  overflow: hidden;
  outline:none;
  padding: 5px;
  
}

.undelete-button, .undelete-button:hover{
  color: green;
}

/*different */
/*[type=text],
[type=email] {
  padding: 8px;
}*/

table {
  font-size: 0.8em;
  margin: 30px;
  /*border: 2px solid cornflowerblue;*/
  border-radius: 10px;
  color: black;
}

th,td {
  margin: 5px;
  padding: 5px;
  /*border: 1px solid cornflowerblue;*/
  /*border-bottom-width: 20px;*/
  /*border-bottom: 4px solid cornflowerblue;*/
  /*border-bottom-color: cornflowerblue;*/
}

.even {background-color: #C2C7FF;}
.odd  {background-color: #E2E2FF;}


/*set different backgrounds for odd and even table lines*/
tr:nth-child(even) {background-color: #C2C7FF;}
tr:nth-child(odd)  {background-color: #E2E2FF;}


/*foundation font icons my app over-rides*/

.fi-x {
  color: #662222;
}

.fi-page-edit {
  color: #205020;
}

td>a {
  color: #205020;
  padding-left: 10px;
}

h1>i.fi-page-add {
  color: #205020;
}

.notice {
  border: 1px solid yellow;
  border-radius: 15px;
  background-color: #eec33c;
  margin: 10px;
  padding: 5px;
}

/*menu items*/
.item {
  padding-left: 20px;
}

/*foundation columns*/
.column, .columns {
    /*background-color: #fff;*/
    /*border: 1px solid cornflowerblue;*/
    /*border-radius: 10px;*/
    float: left;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    position: relative;
}

nav{
  background-color: white;
  border: 1px solid cornflowerblue;
  border-radius: 15px;
}

section {
  background-color: white;
  border: 1px solid cornflowerblue;
  border-radius: 15px;

}

.display-contact {
  margin: 30px;
}

.contact-form {
  /*font-family: 'Allerta', verdana;*/
  margin: 30px;
  /*background-color: yellow;*/
}